.cursorignore
**/or_account.txt
**/*.parquet
**/*.arrow
**/*.pkl
**/*.pdf
**/data/*
**/__pycache__/*
**/test_pdfs/*
**/test_output_pdfs/*
**/test_pdfs_marker/*
**/llm_training/data/*
**/llm_training/conversations_tokenized/*
**/llm_training/outputs/*
**/llm_training/last_run_prepared/*
**/llm_training/slurm_logs/*
**/llm_training/wandb/*
**/llm_training/completions/*
**/llm_training/completions_judge/*
**/markdown_storage/*